.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border: solid 1px black;
  overflow: hidden;
}
.section{
    /* width: 100%; */
    display: flex;
    align-items: center;
}
.notif {
  margin-right: 3px;
}
.title {
  margin-left: 2%;
  margin-right: 2%;
}

.hamburger {
  margin-left: 5px;
}
.right {
  display: flex;
  flex-direction: row;
}
