.top{
    width:80%;
    margin-left:10%;
    margin-top:5%;
}
.headline{
    display:flex;
    flex-direction:row ;
    justify-content: space-between;
    align-items: center;
   
}  

.input{
    margin: 0 5px;
}

.sec{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding:10px 0;
}

@media (max-width: 800px) {
    .sec {
      flex-direction: column;
    }
  }